#include "res.h"
#include <windows.h>

IDI_DLG_CHOSEN DIALOGEX CW_USEDEFAULT, CW_USEDEFAULT, 160, 120
CAPTION "输入文件名"
STYLE WS_OVERLAPPEDWINDOW
BEGIN
    CTEXT "输入文件名", 1, 5, 5, 150, 12
    EDITTEXT DLG_CS_TXT, 5, 25, 150, 12
    PUSHBUTTON "&确定", DLG_OK, 5, 100, 20, 15
END

IDI_DLG_INFO DIALOGEX CW_USEDEFAULT, CW_USEDEFAULT, 160, 120
CAPTION "文件信息"
STYLE WS_OVERLAPPEDWINDOW
BEGIN
    CTEXT "Unknown", DLG_FILE_NAME, 5, 5, 150, 20
    PUSHBUTTON "打开路径", DLG_OPEN_PATH, 40, 30, 80, 20
    CTEXT "Unknown", DLG_FILE_SIZE, 5, 60, 150, 20
END

IDI_DLG_VER DIALOGEX CW_USEDEFAULT, CW_USEDEFAULT, 160, 120
CAPTION "版本"
STYLE WS_OVERLAPPEDWINDOW
BEGIN
    LTEXT "作者：AAAA0GGGMC", 0, 5, 5, 150, 12
    LTEXT "版本：0.0.1", 0, 5, 20, 150, 12
END